:root {
  --padding-modal: 20px;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 23px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: rgb(230, 230, 230);
}
.newBook-modal {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.myInput {
  padding-top: var(--padding-modal);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.check-box-input {
  padding-top: var(--padding-modal);
}
.title-modal {
  margin-bottom: 25px;
  text-align: center;
}
.modal-content input {
  padding: 10px;
  font-size: 1rem;
}
.buttons-modal {
  padding-top: var(--padding-modal);
}
@media only screen and (max-width: 1170px) {
  .modal-content {
    width: 65%;
  }
}
.buttons-modal button {
  font-size: 1.3rem;
  padding: 15px;
}
.book-container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.book-container div {
  background-color: orange;
  border-radius: 10px;
  padding: 80px;
}
.book-container div h4 {
  font-size: 2rem;
}

.title {
  background-color: rgb(8, 98, 172);
  color: white;
  padding: 30px;
  font-size: 3rem;
  text-align: center;
  /* border-bottom: 15px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

button.add-book-btn {
  display: block;
  margin: 50px auto;

  padding: 30px;
  border-radius: 10px;
  font-size: 1.3rem;
  border: none;
  background-color: rgb(255, 255, 255);
  transition: ease-out 0.1s;
  border: 2px solid rgb(41, 41, 41);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.newBook-modal input {
  border-radius: 10px;
}

button.add-book-btn:hover {
  background-color: rgb(31, 82, 125);
  color: white;
}
